<!DOCTYPE html>
<html>
<head>
  <title>CTF Complete</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    <h1>CTF Complete</h1>
    <p>You scored <%= score %> out of <%= total %>.</p>
    <p>Well played, Investigator.</p>
  </div>
</body>
</html>
