<!DOCTYPE html>
<html>
<head>
  <title>Digital Requiem CTF</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    <h1>Digital Requiem Killer - Forensic CTF</h1>
    <a href="/level/0">Start CTF</a>
  </div>
</body>
</html>
